# =========================
# Secret and env
# =========================
secret.env
docker.env

# =========================
# Build and Dependencies
# =========================
build/
out/
target/
.gradle/
.kotlin/


# tracking this specific file
!gradle/wrapper/gradle-wrapper.jar

# =========================
# IDEs and Editors
# =========================
# IntelliJ IDEA
/.idea
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/
.vscode

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Operating System
# =========================
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# =========================
# Compiled source
# =========================
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# Test and temp files
# =========================
temp/
dataset/


